<div id="update-challenge" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="chal-title text-center"></h3>
                        </div>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ request.script_root }}/admin/chal/update">
                    <input name='nonce' type='hidden' value="{{ nonce }}">

                    <div class="form-group">
                        <label for="name">Name
                            <i class="fa fa-question-circle text-muted" data-toggle="tooltip" data-placement="right" title="The name of your challenge"></i>
                        </label>
                        <input type="text" class="form-control chal-name" name="name" placeholder="Enter challenge name">
                    </div>
                    <div class="form-group">
                        <label for="category">Category
                            <i class="fa fa-question-circle text-muted" data-toggle="tooltip" data-placement="right" title="The category of your challenge"></i>
                        </label>
                        <input type="text" class="form-control chal-category" name="category" placeholder="Enter challenge category">
                    </div>

                    <ul class="nav nav-tabs" role="tablist" id="desc-edit">
                        <li class="nav-item">
                            <a class="nav-link active" href="#desc-write" id="desc-write-link" aria-controls="home" role="tab" data-toggle="tab">
                                Write
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#desc-preview" aria-controls="home" role="tab" data-toggle="tab">
                                Preview
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="desc-write">
                            <div class="form-group">
                                <label for="message-text" class="control-label">Message:
                                    <i class="fa fa-question-circle text-muted" data-toggle="tooltip" data-placement="right" title="Use this to give a brief introduction to your challenge. The description supports HTML and Markdown."></i>
                                </label>
                                <textarea id="desc-editor" class="form-control chal-desc" name="description" rows="10"></textarea>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane content" id="desc-preview" style="height:214px; overflow-y: scroll;">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="value">Value
                            <i class="fa fa-question-circle text-muted" data-toggle="tooltip" data-placement="right" title="This is how many points teams will receive once they solve this challenge."></i>
                        </label>
                        <input type="number" class="form-control chal-value" name="value" placeholder="Enter value" required>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input class="chal-attempts-checkbox" id="limit_max_attempts" name="limit_max_attempts" type="checkbox">
                            Limit challenge attempts
                        </label>
                    </div>

                    <div class="form-group" id="chal-attempts-group" style="display:none;">
                        <label for="value">Max Attempts</label>
                        <input type="number" class="form-control chal-attempts" id="chal-attempts-input" name="max_attempts" placeholder="Enter value">
                    </div>
                    <input class="chal-id" type='hidden' name='id' placeholder='ID'>

                    <div class="checkbox">
                        <label>
                            <input class="chal-hidden" name="hidden" type="checkbox">
                            Hidden
                        </label>
                    </div>

                    <div class="form-group">
                        <a href="#" data-toggle="modal" data-target="#update-tags" class="btn btn-primary">Tags</a>
                        <a href="#" data-toggle="modal" data-target="#update-files" class="btn btn-primary">Files</a>
                        <a href="#" data-toggle="modal" data-target="#update-hints" class="btn btn-primary">Hints</a>
                        <a href="#" data-toggle="modal" data-target="#update-keys" class="btn btn-primary">Flags</a>
                        <a href="#" data-toggle="modal" data-target="#delete-chal" class="btn btn-danger">Delete</a>
                    </div>
                    <input type="hidden" value="{{ nonce }}" name="nonce" id="nonce">
                    <div style="text-align:center">
                        <button class="btn btn-success btn-outlined update-challenge-submit" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="update-tags" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Tags</h3>
                        </div>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tag-insert">Value</label>
                                <input max-length="80" type="text" class="form-control tag-insert" name="tag-insert" placeholder="Type tag and press Enter">
                            </div>
                            <input name='nonce' type='hidden' value="{{ nonce }}">
                            <input id="tags-chal" name='chal' type='hidden'>

                            <div id="current-tags">

                            </div>
                            <br/>
                            <div id="chal-tags">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" value="{{ nonce }}" name="nonce" id="nonce">
                            <button class="btn btn-primary float-right" id="submit-tags">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="update-files" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Files</h3>
                        </div>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ request.script_root }}/admin/files/" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <input name='nonce' type='hidden' value="{{ nonce }}">
                                <input id="files-chal" name='chal' type='hidden'>
                                <input name='method' type='hidden' value='upload'>
                                <div id="current-files" class="pb-3">
                                    
                                </div>
                                <input type="hidden" name="method" value="upload">
                                <input class="form-control-file" type="file" name="files[]" multiple="multiple">
                                <sub>Attach multiple files using Control+Click or Cmd+Click</sub>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" value="{{ nonce }}" name="nonce" id="nonce">
                                <button class="btn btn-primary float-right" id="submit-files">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="update-hints" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Hints</h3>
                        </div>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container text-center">
                    <a href="#" id="create-hint" class="btn btn-primary text-center">New Hint</a>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class='current-hints'>
                                <table id="hintsboard" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td class="text-center"><b>Hint</b></td>
                                            <td class="text-center"><b>Cost</b></td>
                                            <td class="text-center"><b>Settings</b></td>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="update-keys" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Flags</h3>
                        </div>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ request.script_root }}/admin/keys" style="text-align:center">
                    <a href="#" id="create-key" class="btn btn-primary" style="margin-bottom:15px;">New Flag</a>
                    <input name='nonce' type='hidden' value="{{ nonce }}">
                    <input id="keys-chal" name='chal' type='hidden'>
                    <div id="current-keys" class="row"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="delete-chal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Delete Challenge</h3>
                        </div>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ request.script_root }}/admin/chal/delete">
                    <input type="hidden" name="nonce" value="{{ nonce }}">
                    <input type="hidden" name="id" class="chal-id">
                    <div class="small-6 small-centered text-center columns">
                        <p>Are you sure you want to delete this challenge?</p>
                        <p>Solves, wrong keys, files, tags will all be deleted.</p>
                        <a href="#" onclick="$('#delete-chal').modal('hide')" class="btn btn-warning">
                            <i class="fa fa-times"></i>
                        </a>
                        <button class="btn btn-danger" id="delete-user" type="submit">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="create-keys" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" class="chal-id" name="chal-id">
            <div class="modal-header text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Create Flag</h3>
                        </div>
                    </div>
                </div>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="create-keys-select-div">
                    <label for="create-keys-select" class="control-label">Choose Flag Type</label>
                    <select class="form-control" id="create-keys-select">
                    </select>
                </div>
                <br>
                <div id="create-keys-entry-div">
                </div>
                <br>
                <div style="display:none;" id="create-keys-button-div" class="text-center">
                   <button id="create-keys-submit" class="btn btn-theme btn-outlined">Create Flag</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="edit-keys" class="modal fade" tabindex="-1">
</div>

<div id="hint-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 id="hint-modal-title"></h3>
                        </div>
                    </div>
                </div>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="hint-modal-submit" method='POST'>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" class="chal-id" name="chal">
                                <div class="form-group">
                                    <textarea id="hint-modal-hint" type="text" class="form-control" name="hint" placeholder="Hint"></textarea>
                                </div>
                                <div class="form-group">
                                    <input id="hint-modal-cost" type="number" class="form-control" name="cost" placeholder="Cost">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" value="{{ nonce }}" name="nonce" id="nonce">
                                <button class="btn btn-primary float-right" id="hint-modal-button">Add Hint</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
